<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633595171682-bgihtdquscdd5hlc7l4hovlcv93h73lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633595171682-bgihtdquscdd5hlc7l4hovlcv93h73lv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>633595171682-uh56oqb9eveptllfc575giq4akje6i0q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDD4oFwJYetufeWDA2F9E0PHA8o8Ke-1eI</string>
	<key>GCM_SENDER_ID</key>
	<string>633595171682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.annette.annetteapp</string>
	<key>PROJECT_ID</key>
	<string>annette-app-5efdc</string>
	<key>STORAGE_BUCKET</key>
	<string>annette-app-5efdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:633595171682:ios:d85b39c6c7b592734f523b</string>
</dict>
</plist>
